<div>
    &nbsp;
</div>
<div>
    <%= link_to_function image_tag("desktop.jpg", :border => 0, :width => 184), shuffle(:contract =>["mac_body"], :expand =>["desktop_body"]) -%>
</div>
<div>
    &nbsp;
</div>
<div>
    <%= link_to_function image_tag("laptop.jpg", :border => 0, :width => 184), shuffle(:contract =>["mac_body"], :expand =>["laptop_body"]) -%>
</div>
<div>
    &nbsp;
</div>
