<div>
  &nbsp;
</div>
<div style="text-align: center;">
  <%= link_to_function image_tag("desktop_button.jpg", :border => 0, :width => 287), shuffle(:contract =>["mac_body"], :expand =>["desktop_body"]) -%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to_function image_tag("laptop_button.jpg", :border => 0, :width => 287), shuffle(:contract =>["mac_body"], :expand =>["laptop_body"]) -%>
</div>
<div>
  &nbsp;
</div>
