<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td>
      <div id="payment_header" class="tab-text">
        3 - Your Money to You FAST
      </div>
      <div id="payment_body" style="display:none;">
        <%= render "payment_body", :f => f -%>
      </div>
    </td>
  </tr>
</table>