<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td>
      <div id="where_header" class="tab-bg">
        2. Tell us where to pick up your mac
      </div>
      <div id="location_body" style="display:none;">
        <%= render "location_body", :f => f -%>  
      </div>
    </td>
  </tr>
</table>