<table>
<tr>
<td valign="top" class="four-border">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td>
                	<%= image_tag "dosh.jpg"%>
                </td>
                <td align="center">
                	<div>
                    Your mac is worth <div id="worth_value">nowt</div>
									  Would you like to accept and continue?
								  </div>
                  <div>
                    <%= link_to_function image_tag("back.jpg", :size => "184x28", :border => "0"), shuffle(:contract => ["laptop_body"], :expand => "mac_body")%>
                  </div>
									<div>
										<%= link_to_function image_tag("continue.jpg", :size => "184x28", :border => "0"), shuffle(:contract => ["worth_body"], :expand => "location_body")%>
									</div>
                <td>
                  <%= image_tag "dosh.jpg"%>                  
                </td>
                </td>
            </tr>
        </tbody>
    </table>
</td>
</tr>
</table>
