<table class="banner-logo" align="center" width="690" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td class="banner-logo"> Money<span style="color:red">4</span>Macs.co.uk<br/>0117 9021781
    </td>
  </tr>
</table>
<div align="center">
  <table class="four-border" width="690" border="0" cellpadding="20">
    <tr>
      <td class="about-us-title" height="78" colspan="2" align="center"> Money4Macs.co.uk is a UK business based in
        Bristol.
      </td>
    </tr>
    <tr>
      <td class="simple-text" valign="top">We are available by telephone
        Monday - Friday 9AM-6PM
        so if you have any questions please feel free to call us.

        If you prefer you can contact us via email any time using this web form and we will get back to you shortly.
      </td>
      <td width="294" align="center"><%= image_tag "britain.png" %>
      </td>
    </tr>
    <tr class="drive-table">
      <td colspan="2">
        <span style="color:red"><b>Our premises insurance policy stipulates explicitly that we cannot allow customers
          onto our premises without prior arrangements. Please call us in advance if you require a pass to visit our
          premises. You are welcome to come and see us but there is strictly no admittance without prior
          notification.</b></span></td>
    </tr>
  </table>
</div>