<table class="banner-logo" align="center" width="690" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td class="banner-logo"> Money<span style="color:red">4</span>Macs.co.uk<br/>0117 9021781
    </td>
  </tr>
</table>
<div align="center">
  <table class="four-border" width="690" border="0" cellpadding="3">
    <tr>
      <td align="left" class="tab-text">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        Grades
      </td>
    </tr>
    <tr>
      <td align="left" class="simple-text">
        Grade A: Your computer is clean and tidy, with no visible scrapes and scratches. All components are working
        correctly and there are no mechanical or cosmetic defects on the unit. This includes video quality.<br>
        <br>
        Grade B: The computer is generally clean and unblemished, with allowances for small numbers of surface scratches
        on the bodywork, but not the screen. No digs or dents in the bodywork or casing.<br>
        <br>
        Grade C: The computer is not as clean as it was when new, and has a few surface scratches, with maybe one or two
        slight dents on the casing, none of which are causing any difficulties in using the computer. No screen damage
        permitted.<br>
        <br>
        Grade D: The computer may have several scratches here and there, a few digs or dents on the casing and slight
        screen damage (not smashed or bruised - scratches only).<br>
        <br>
        Grade E: FAULTY. This grade is for damaged, unusable items including smashed or bruised screens, faulty logic
        boards, RAM, Hard drives, water damage, surface damage etc. This computer does not work.<br>
        <br>
        Please note that units sent in as 'Grade E' are expected to be complete. If you have removed any components,
        please contact us beforehand as it may affect your quote. If your Mac has a keyboard other than UK QWERTY then
        we will deduct £10 from any price quoted as non-UK computers are harder to sell in this country. Please bear
        this in mind when you accept your quote.<br>
        <br>
        If you do not include your charger with a laptop you are selling (including faulty laptops) we will deduct £30
        from the price that we quote for your computer. This is due to the cost of replacing chargers - which is
        necessary to sell a laptop on.<br>
        <br>
        If your computer is at all affected by cigarette smoke then your quote may be substantially altered upon our
        receipt of the computer. This includes, but is not limited to, visible staining, smell of cigarette smoke,
        internal components coated in tar from being subject to use in a smoky environment. Please bear this in mind and
        feel free to ask any questions before accepting a quote.
      </td>
    </tr>
  </table>
</div>
