<table class="banner-logo" align="center" width="811" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td class="banner-logo"> Money<span style="color:red">4</span>Macs.co.uk<br/>0117 9021781
    </td>
  </tr>
</table>
<h2 class="how-to-find" align="center">How to find the specifications of your Mac</h2>
<div align="center">
  <table class="four-border" width="808" height="2021" border="0" cellpadding="10" cellspacing="3">
    <tr>
      <td class="simple-text" width="50%" valign="top">
        <div align="center">
          <%= image_tag "applemenu.jpg" %>
          <br/>
          Choose the top entry in the Apple menu <br/>
          &quot;About This Mac&quot;
        </div>
        <div align="center"></div>
      </td>
      <td class="simple-text" colspan="2" valign="top">
        <div align="center"><%= image_tag "aboutthismac.jpg" %>
          <br/>
          The &quot;About This Mac&quot; dialog box has the processor speed and memory values you need.<br/>
          To find the hard drive size click &quot;More Info...&quot; highlighted in the screenshot. <br/>
          This will open the Apple System Profiler.
        </div>
      </td>
    </tr>
    <tr>
      <td class="simple-text" colspan="3">
        <div align="center">
          <hr/>
          <p> Depending on which version of MacOS you are running the Apple sytem profiler will vary but essentially the
            same info is there. Also depending on which version of MacOS you have your drive capacity will show
            differently within the Apple system profiler.
            In MacOS 10.5 and earlier the hard drive shows as the formatted capacity whereas in MacOS 10.6 the full
            unformatted capacity is displayed. </p>
          <hr/>
          <p><br/>
            The two Macs shown in the two screenshots below both have 320GB hard drives.<br/>
            The top screenshot is MacOS 10.4 and the bottom screenshot is in MacOS 10.6. <br/>
            Both of these screenshots were taken on Intel based machines. <br/>
            For the older G4 based machines the hard drive information can be found under ATA not Serial-ATA.</p>
        </div>
      </td>
    </tr>
    <tr>
      <td class="simple-text" height="329" colspan="3">
        <div align="center"><%= image_tag "sysprofilertiger.png" %>
          <br/>
          Apple system profiler in MacOS 10.4 (Tiger) - 320GB hard drive
        </div>
      </td>
    </tr>
    <tr>
      <td class="simple-text" height="329" colspan="3">
        <div align="center"><%= image_tag "sysprofilersnowleopard.png" %>
          <br/>
          Apple system profiler in
          MacOS 10.6
          (Snow Leopard) - 320GB hard drive
        </div>
        <hr/>
      </td>
    </tr>
    <tr>
      <td class="tab-text" height="362" colspan="3" valign="top">
        <h4 align="center">Formatted and unformatted drive capacities.
        </h4>

        <p class="simple-text" align="center"> Depending on which version of MacOS you have your drive capacity will
          show differently within the Apple system profiler. In MacOS 10.5 and earlier the hard drive shows as the
          formatted capacity. In MacOS 10.6 the full unformatted capacity is displayed. <br/>
          These are therefore equivalents.
        </p>

        <div class="drive-table" align="left">
          <ul>
            <li>28GB = 30GB</li>
            <li>37GB = 40GB</li>
            <li>56GB = 60GB</li>
            <li>74GB = 80GB</li>
            <li>93GB = 100GB</li>
            <li>111GB = 120GB</li>
            <li>149GB = 160GB</li>
            <li>232GB = 250GB</li>
            <li>298GB = 320GB</li>
            <li>465GB = 500GB</li>
            <li>698GB = 750GB</li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>

