<% remote_form_for @quote, :url => calculate_quotes_path do |f|%>
<table  class="four-border"align="center" width="811" cellspacing="0" cellpadding="0" border="0">
		<tr> 
			<td class="offer-text">
				
				    In these tough financial times are you in need of <br>
					some EXTRA CASH? If so we can help. <br>
					Just fill in the form below and we will give you an<br>
					INSTANT no obligation valuation of your Apple mac.<br>
					You will have your valuation in a couple of minutes <br>
					and the money could be in your account <br>
					within a couple of days.<br>
					If you accept our offer then -<br><br>
					
					1 - We will send our courier to collect your mac<br>
					2 - We will thoroughly test your mac<br>
					3 - We will pay you within 48 hours<br><br>
		
					It's that simple - Click now.
			</td>
		</tr>
		<tr>
			<td class="tab-bg">
				<%= render "your_mac", :f => f %>
			</td>
		
		<tr>
			<td class="tab-bg">
				<%= render "where_are_you", :f => f -%>
			</td>
		</tr>
    <tr>
      <td class="tab-bg">
        <%= render "payment", :f => f -%>
      </td>
    </tr>
	</table>
<% end %>