<table class="banner-logo" align="center" width="690" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td class="banner-logo"> Money<span style="color:red">4</span>Macs.co.uk<br/>0117 9021781
    </td>
  </tr>
</table>
<div align="center">
  <table class="four-border" width="690" border="0" cellpadding="3">
    <tr>
      <td align="left" class="tab-text">
        <div align="center">Terms and Conditions</div>
      </td>
    </tr>
    <tr>
      <td align="left" class="simple-text">
        <p>1: It is the responsibility of the sender to ensure that the Mac is suitably packaged for shipment and will
          not be damaged in transit. Money4Macs.co.uk and our courier are not responsible for damage caused in transit.
          The box that your computer originally came in is adequate for shipping. If you do not have the original
          packaging and are unsure of how to package your item, please feel free to call us on 0117 9021 781 and we will
          be happy to advise. The Mac MUST be boxed in a minimum of a double walled cardboard box. Small-bubble
          bubblewrap is ok for laptops as long as you use enough but for desktop computers you MUST use large-bubble
          bubblewrap as small-bubble bubblewrap is inadequate for the job. If you cannot source any packaging materials
          we can offer a service to supply them, however we charge £20+VAT for this. Please note that if you would like
          to purchase packaging supplies from us payment will be required up front and is a separate transaction. It is
          not taken out of the final payment for your goods. If you believe that the packaging supplied by us is
          inadequate then please contact us immediately on 0117 9021 781. Any damaged, irreparable goods will either be
          returned to the sender (see point 2 for charges) or we will pay the faulty rate**. Don&rsquo;t allow the
          courier to pack the item as they are not qualified to do so.
          <br>
          <br>
          2: Our engineers will test your computer and any faults or problems not specified at the time of agreeing to
          our terms and conditions will affect the quote significantly. In the event this happens, you will be contacted
          immediately by us. If a machine is tested and is found to be faulty when expected to be working then we pay
          our book price for faulty macs. This is calculated on age, model and CPU (G4, G5, Intel etc.). If you are not
          satisfied, you can have the mac returned to you at your cost (See point 6 below). We can provide reports of
          our testing results upon request. We charge £75+VAT to return faulty or damaged macs should you not accept the
          faulty book price. This covers the cost of collection, testing and re-delivery.  A new corrected quote will
          need to be calculated for machines not specified correctly at the quoting process. Should you not accept the
          corrected quote then the same £75+VAT charge will apply to return the Mac. This covers the cost of collection,
          testing and re-delivery.
          <br>
          <br>
          3:  Money4Macs.co.uk is operated in the United Kingdom. By using this website you agree to the Terms of Use,
          all applicable laws and regulations (including export and re-export control laws). You also agree to be in
          compliance with any local or laws not explained by Money4Macs .co.uk. If you do not agree with these terms,
          please do not use this website. All claims will be handled and will adhere to laws within the United Kingdom.
          Laws applicable in other territories will not apply.
          <br>
          <br>
          4: Any information you transmit, submit or post to the Money4Macs.co.uk website will be considered
          non-confidential and non-proprietary (&quot;Submitted Information&quot;). By transmitting, submitting or
          posting Submitted Information to Money4Macs.co.uk you hereby grant Money4Macs.co.uk all rights to this &ldquo;Submitted
          Information&quot;.
          <br>
          <br>
          5:  Regardless if claimed not to be there before being sent, any physical damage such as scratches, dents and
          dings in the units casing and components are not the responsibility of Money4Macs .co.uk. We can provide
          photographic evidence of any damage upon request.
          <br>
          <br>
          6: All accepted quotes are agreements. Once the goods have been collected, you are agreeing to receive payment
          of the agreed amount in return for your goods. You may not request for goods to be returned after this point.
          In exceptional circumstances Money4Macs.co.uk can return goods for a fee of £75+VAT.
          <br>
          <br>
          7:  Money4Macs.co.uk reserves the right to cancel an agreement at any time, for any reason, with immediate
          effect. In the unlikely circumstances of this occurring after we have taken delivery of your goods, we will
          return the goods to you at our own cost.
          <br>
          <br>
          8:  Money4Macs.co.uk uses an industry recognised program to remove the data from your hard drive. Although
          this is one of the most secure ways of removing data Money4Macs.co.uk will not be held responsible in the
          event of mistreatment of data or any other circumstances involving personal information, personal data etc. We
          advise you back up any important files before sending to us. Once wiped by our software the will be no chance
          of any files left on the computer when sent to us could be recovered. Once the computer has left you, you
          should assume that all data stored within has been lost. By accepting our terms and conditions you understand
          that you are fully responsible for any data and for the clearing of said data on any hard drive in any machine
          sold to Money4Macs.co.uk. If you feel you have confidential data on your drive we recommend for peace of mind
          you data wipe the drive. We don&rsquo;t need the OS to test the hardware as we use external drives and
          software.
          <br>
          <br>
          8: Payment will be initiated within 2 to 3 working days of us receiving the goods from you (usually 2 days).
          This does not mean you will necessarily receive payment within 3 working days. Most transfers nowadays are
          very fast but bank transfers can still take up to 5 working days depending on which bank you bank with. For
          this reason we are only able to offer an estimated date of receipt of payment.
          <br>
          <br>
          9: Payment options:
          <br>
          <br>
          &nbsp;&nbsp;•&nbsp;Bank Transfer - to process this we will need your bank account number and sort code, if you
          are not happy about supplying this information either by telephone or in writing then you will need to choose
          payment by PayPal.<br>
          <br>
          &nbsp;&nbsp;•&nbsp;PayPal - To process this we will need your PayPal user name (this is the email address you
          use to log in to PayPal). If you do not have a PayPal account then you can either create one for free at
          <a href="http://www.paypal.com/">www.paypal.com</a> or you can opt to be paid by Bank Transfer
          <br>
          <br>
          10: In the unlikely event of damage to our premises through fire, water damage, storms, terrorism, robbery,
          theft, explosion, act of god or other catastrophic disaster, in which stock/goods are damaged, we are obliged
          to pay our fully quoted amount as agreed to at time of collection. This amount is payable as per our terms. A
          full police/insurance report can be forwarded in the extremely unlikely event of any of these circumstances.
          <br>
          <br>
          11: Our courier insures any consignment by default to a maximum £60. If you require extra insurance on your
          consignment please call us on 0117 9021 781. We deal with additional insurance for consignments on a case by
          case basis.
          <br>
          <br>
          12: Any missed collections due to the computer not being available for collection, either due to the premises
          being closed or the parcel not being ready for collection will be charged at £10+VAT per failed attempt. We
          are charged this by our courier for any collection attempts that are unsuccessful through no fault of their
          own. Any failed collection attempts due to a problem with our courier, or the driver attempting collection
          after 5pm will not be charged.
          <br>
          <br>
          13: Our courier cannot guarantee the time at which they will collect the parcel; Interlink Express can only
          guarantee the date of collection. As they typically have many parcels to deliver as well as collections to do,
          we can only offer a window - normally 10am to 4pm. We can extend this upon request, but we cannot make it any
          smaller. If collection from your home address will be a problem we can arrange a collection from a
          friend/relative's house or a work address at no extra cost. Collections in the London area can be anytime from
          9am to 6:30pm. For more information we can provide contact details of your local Interlink Express depot upon
          request.
          <br>
          <br>
          14: You must be 18 years or older in order to sell your mac through Money4Macs.co.uk as it binds a contract
          legally when you accept the quote. You must also be the legal owner of the goods. We check all purchases
          against the online database of stolen Apple computers once the goods are with us. Any goods discovered to be
          stolen or any other fraudulent or criminal activity will be reported to the relevant authorities.
          <br>
          <br>
          15. At present Money4Macs.co.uk only accepts orders from within the British Isles. Highland areas and outlying
          islands are included but are subject to an additional charge imposed by our courier.<br>
          &nbsp;*We reserve the right to change our courier at any time. We currently use Interlink Express couriers but
          we have changed from time to time to ensure the best customer service. The courier company may also change
          depending on your location.
          <br>
          <br>
          **Standard faulty rate is dependent on the processor type. For G4 based computers it is £40, for G5 based
          computers it is £50 and for Intel based computers the faulty rate is £75.
          <br>
          <br>
          <strong>Definitions</strong> <br>
          <br>
          &quot;Purchase request&quot; refers to the completed process that the user must follow to input all
          information requested so that they may sell their mac to Money4Macs.co.uk<br>
          &quot;You&quot;, &quot;Your&quot;, &quot;the customer&quot; and &quot;the sender&quot; refers to the
          individual who places the purchase request order through the Money4Macs.co.uk website.<br>
          &quot;The courier&quot; refers to our chosen third party courier company. We reserve the right to change the
          company we use for transporting parcels to and from ourselves without prior notice. We will always inform you
          of the name of the company that will be collecting the parcel from nominated address.<br>
          &quot;Mac&quot;, &quot;computer&quot; refers to the item that has been specified in the purchase request. This
          will always refer to an Apple Macintosh computer as we do not offer to purchase any others through
          Money4Macs.co.uk.</p></td>
    </tr>
  </table>
</div>
