<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>New Quote</title> <link href="http://www.laptops-to-go.co.uk/morepics/email_stylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="pagecontainer">
  <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" class="four-border">
    <tr>
      <td width="43" align="center" valign="middle" class="left_gradient">&nbsp;</td>
      <td align="center" valign="middle" bgcolor="#FFFFFF"><table width="714" border="0" cellpadding="3" cellspacing="5">
        <tr>
          <td colspan="2" align="left" valign="top"><span class="banner-logo">Money<span style="color:red">4</span>Macs.co.uk<br>
            0780 0657487 </span></td>
        </tr>
        <tr>
          <td colspan="2" align="left" valign="top">We have received your offer to sell your Apple Mac to us. The full details are below. If there are any errors then please get in touch to let us know. </td>
        </tr>
        <tr>
          <td colspan="2" align="left" valign="top">We will book the courier to collect on the date selected and you should  receive  a confirmation email confirming the date of collection. If you fail to receive this email then please check your spam filters in case it has been filtered.</td>
        </tr>
        <tr>
          <td colspan="2" align="left" valign="top"><h2>Your Details</h2></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>Type: </div></td>
          <td width="73%" align="left" valign="top"><div>Macbook Pro 15 Inch Non Unibody</div></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>Speed: </div></td>
          <td width="73%" align="left" valign="top"><div>2.2 GHz Core 2 Duo</div></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>Ram: </div></td>
          <td width="73%" align="left" valign="top"><div>2 GB</div></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>Disk: </div></td>
          <td width="73%" align="left" valign="top"><div>160GB</div></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>Grade: </div></td>
          <td width="73%" align="left" valign="top"><div>Grade B</div></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>Boxed: </div></td>
          <td width="73%" align="left" valign="top"><div>true</div></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>Price Quoted</div></td>
          <td width="73%" align="left" valign="top"><div>320.00</div></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>Seller's Name: </div></td>
          <td width="73%" align="left" valign="top"><div>1</div></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>House Name or Number: </div></td>
          <td width="73%" align="left" valign="top"><div>2</div></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>Street Name: </div></td>
          <td width="73%" align="left" valign="top"><div>3</div></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>City: </div></td>
          <td width="73%" align="left" valign="top"><div>4</div></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>Post Code: </div></td>
          <td width="73%" align="left" valign="top"><div>5</div></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>Telephone Number: </div></td>
          <td width="73%" align="left" valign="top"><div>6</div></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>Mac's Serial Number: </div></td>
          <td width="73%" align="left" valign="top"><div>7</div></td>
        </tr>
        <tr>
          <td width="27%" align="right" valign="top"><div>Email Address: </div></td>
          <td width="73%" align="left" valign="top"><div>8</div></td>
        </tr>
        <tr>
          <td width="27%" height="22" align="right" valign="top"><div>Pickup Date: </div></td>
          <td width="73%" align="left" valign="top"><div>2011-09-21 07:34:35 UTC</div></td>
        </tr>
        <tr>
          <td width="27%" height="22" align="right" valign="top"><div>Additional Details: </div></td>
          <td width="73%" align="left" valign="top"><div>Additional shipping information</div></td>
        </tr>
        <tr>
          <td height="56" colspan="2" align="center" valign="bottom" class="spec_table">This is an automated email. Please do not reply to this email as the email address is not monitored.</td>
        </tr>
        <tr>
          <td height="56" colspan="2" align="center" valign="middle" class="please_note_vat">http://www.money4macs.co.uk | Terms and Conditions</td>
        </tr>
      </table></td>
      <td width="43" align="center" valign="middle" class="right_gradient"></td>
    </tr>
  </table>
</div>
</body>
</html>