<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td>
      <div id="where_header" class="tab-text">
        2 - Your Collection Address
      </div>
      <div id="location_body" style="display:none;">
        <%= render "location_body", :f => f -%>
      </div>
    </td>
  </tr>
</table>