:focus {
outline: 0;
}
.body {
    margin: 0 0 0 0;
  }
.four-border {
  border: 1px solid #666666;
  margin-top:4px;
  padding-bottom:2px;
}
.banner-logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  color: #666666;
  margin-top:6px;
  text-decoration: none;
}
.tab-bg {
  background: url(/images/long-bar-button-809.jpg) no-repeat;
  padding-bottom:0;
  padding-top:0;
}
.tab-text {
  font-family: Century Gothic, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #555555;
  margin-left: 0;
  margin-top: 5px;
  padding-bottom:6px;
  padding-left:50px;
  text-decoration: none;
  font-variant: normal;
}
.tab-text1 {
  font-family: Century Gothic, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #555555;
  text-decoration: none;
  font-variant: normal;
}
.offer-text {
  background: url(/images/home-image.jpg) no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #666666;
  padding-left:25px;
  padding-top:20px;
  padding-bottom:18px;
  text-decoration: none;
  font-variant: normal;
}
.oversupply-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  font-weight: normal;
  color: #ff0000;
  line-height: 5.0;
}
.grade-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #888888;
  padding-left: 10px; 
  text-decoration: none;
}
.grade-text:hover{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #FF0000;
  text-decoration: underline;
}
.footer-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-align: left;
  color: #333333;
  text-decoration: none;
}
.footer-text A:hover{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #ff0000;
  text-decoration: none;
}
.bottom-links-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #666666;
  text-decoration: none;
}
.bottom-links-text:hover{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #ff0000;
  text-decoration: none;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #333333;
  margin-top: 0;
  text-decoration: none;
  padding:10px;
}
.heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}
.box {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #333333;
  text-decoration: none;
  border: 1px solid #333333;
  width: 165px;
}
.box1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: normal;
  color: #333333;
  text-decoration: none;
  border: 1px solid #333333;
}
.box-wide {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #333333;
  text-decoration: none;
  border: 1px solid #333333;
  width: 210px;
}
.form-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  color: #333333;
  text-decoration: none;
}
.Your-Mac {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #333333;
  text-decoration: none;
  padding:10px;
}
.price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #F90000;
  text-decoration: none;
}
.simple-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #666666;
  text-decoration: none;
  padding-left:16px;
  line-height:18px;
}
.trading-as-footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  color: #777777;
  text-decoration: none;
  padding-left:16px;
  line-height:18px;
}
.style1 {
  color: #FF0000;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.productimagetext{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  color: #333333;
  text-decoration: none;
  padding:5px;
}
.what-else-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  padding-top:5px;
  padding-left:150px;
  text-decoration: none;
}
.your-mac-is-worth {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: normal;
  color: #666666;
  padding-top:15px;
  padding-bottom:15px;
  text-decoration: none;
  font-variant: normal;
}
.valuation {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90px;
  font-weight: normal;
  color: #ff0000;
  padding-top:0;
  padding-bottom:23px;
  padding-left:10px;
  margin-top:0;
  text-decoration: none;
  font-variant: normal;
}
.how-to-find {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: normal;
  color: #666666;
  text-decoration: none;
  font-variant: normal;
}
.drive-table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-left:290px;
  color: #333333;
  text-decoration: none;
}
.about-us-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #666666;
  padding-left:25px;
  padding-top:10px;
  padding-bottom:0;
  text-decoration: none;
  font-variant: normal;
}
