<td valign="top" class="four-border">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td class="productimagetext" colspan="2">
                    Please keep clicking until you find your <span id="producttype">Laptop</span>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <div id="resultproductlist">
                    	<%= collection_select %>
                        <select name="productlist" id="productlist" class="box" classname="box">
                            <option value="0">MacBook White</option>
                            <option value="1">MacBook Black</option>
                            <option value="2">MacBook Unibody LED</option>
                            <option value="3">MacBook Pro 15" Non Unibody</option>
                            <option value="4">MacBook Pro 17" Non Unibody</option>
                            <option value="5">MacBook Pro 13 Unibody</option>
                            <option value="6">MacBook Pro 15" Unibody</option>
                            <option value="7">MacBook Pro 17 Unibody</option>
                            <option value="8">MacBook Air 13.3"</option>
                            <option value="9">iBook G4 12</option>
                            <option value="10">iBook G4 14</option>
                            <option value="11">PowerBook G4 12</option>
                            <option value="12">PowerBook G4 15</option>
                            <option value="13">PowerBook G4 17</option>
                        </select>
                    </div>
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td width="42%">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td align="center" width="23%">
                                    &nbsp;<!--<a href="#" onClick="backward();return false"><img src="images/left-arrow.jpg" alt="" border="0" width="32" height="29" /></a>-->
                                </td>
                                <td align="center" width="49%">
                                    <center>
                                        <script language="javascript" type="text/javascript">
                                            if (linkornot == 1) 
                                                document.write('&lt;a href="javascript:transport()"&gt;')
                                            document.write('&lt;img src="' + photos[0] + '" name="photoslider" id="photoslider" width="131" style="filter:revealTrans(duration=2,transition=23)" border=0&gt;')
                                            document.write('&lt;input type="hidden" name="selectedproductid" id="selectedproductid" value="' + photosid[0] + '" /&gt;')
                                            if (linkornot == 1) 
                                                document.write('&lt;/a&gt;')
                                        </script>
                                        <img width="131" border="0" style="" id="photoslider" name="photoslider" src="product/t/macbook-white.jpg"><input type="hidden" value="1" id="selectedproductid" name="selectedproductid">
                                    </center>
                                </td>
                                <td align="center" width="28%">
                                    &nbsp;<!--<a href="#" onClick="forward();return false"><img src="images/right-arrow.jpg" alt="" width="32" height="29" border="0" /></a>-->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" class="heading" colspan="3">
                                    <div id="productname">
                                        MacBook White
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="58%" valign="top">
                    <table align="center" width="95%" cellspacing="2" cellpadding="2" border="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div id="resultprocessorspeed">
                                        <select name="processorspeed" id="processorspeed" class="box" classname="box">
                                            <option value="">Processor Speed</option>
                                            <option value="463">1.83GHz Core Duo</option>
                                            <option value="464">2.16GHz Core Duo</option>
                                            <option value="462">2GHz Core Duo</option>
                                            <option value="461">2.1GHz Core Duo</option>
                                            <option value="460">2.2Ghz Core Duo</option>
                                            <option value="459">2.23GHz Core Duo</option>
                                            <option value="458">2.4GHz Core Duo</option>
                                            <option value="0">None</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div id="resulthddsize">
                                        <select name="hddsize" id="hddsize" class="box" classname="box">
                                            <option value="">HDD Size</option>
                                            <option value="438">60GB</option>
                                            <option value="439">80GB</option>
                                            <option value="440">100GB</option>
                                            <option value="437">120GB</option>
                                            <option value="436">160GB</option>
                                            <option value="435">250GB</option>
                                            <option value="441">500GB</option>
                                            <option value="0">None</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="resultraminstalled">
                                        <select name="raminstalled" id="raminstalled" class="box" classname="box">
                                            <option value="">RAM Installed</option>
                                            <option value="423">512MB</option>
                                            <option value="425">1GB</option>
                                            <option value="424">2GB</option>
                                            <option value="427">3GB</option>
                                            <option value="426">4GB</option>
                                            <option value="0">None</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div id="resultbestdescribe">
                                        <select name="bestdescribe" id="bestdescribe" class="box" classname="box">
                                            <option value="">What best describes your computer's condition</option>
                                            <option value="415">Grade A </option>
                                            <option value="416">Grade B </option>
                                            <option value="417">Grade C </option>
                                            <option value="418">Grade D</option>
                                            <option value="419">Grade E</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="padding-right: 20px;" colspan="2">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td align="left" width="67%">
                                                    <a class="grade-text" onclick="javascript:window.open(&quot;info-video.php&quot;,&quot;asd&quot;,&quot;scrollbars=no,width=645,height=700,scrollbars=yes&quot;)" href="#">
                                                        <u>
                                                            Click to see how to find this information
                                                        </u>
                                                    </a>
                                                </td>
                                                <td align="right" width="33%">
                                                    <a class="grade-text" onclick="javascript:window.open(&quot;grades.php&quot;,&quot;asd&quot;,&quot;scrollbars=no,width=645,height=700,scrollbars=yes&quot;)" href="#">
                                                        <u>
                                                            more about grades
                                                        </u>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-text" colspan="2">
                                    <strong>What accessories does your computer come with?</strong>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" class="form-text">
                                    <input type="checkbox" value="1" id="accessories" class="box1" name="accessories">Original Box 
                                    <br>
                                    <input type="checkbox" value="2" id="accessories" class="box1" name="accessories">Charging Cable 
                                    <br>
                                    <input type="checkbox" value="3" id="accessories" class="box1" name="accessories">Power Adapter
                                    <br>
                                    <input type="checkbox" value="4" id="accessories" class="box1" name="accessories">Original install disks
                                    <br>
                                </td>
                                <td valign="top" class="form-text">
                                    <input type="checkbox" value="5" id="accessories" class="box1" name="accessories">User Manuals
                                    <br>
                                    <input type="checkbox" value="6" id="accessories" class="box1" name="accessories">Mouse
                                    <br>
                                    <input type="checkbox" value="7" id="accessories" class="box1" name="accessories">Keyboard
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a onclick="toggleItem('1');" href="javascript:;"><img width="184" height="28" border="0" alt="" src="images/back.jpg"></a>
                                </td>
                                <td>
                                    <a onclick="doValidate1();showPrice();" href="javascript:;"><img width="184" height="28" border="0" alt="" src="images/how-much-it-worth.jpg"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</td>