<h1>Home#show</h1>
<table  align="center" width="636" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td>
			flogMyMac
		</td>
	</tr>
	<tr>
		<td>
			pretty pictures
		</td>
	</tr>
	<tr>
		<td>
			<%= render "your_mac" %>
		</td>
	</tr>
	<tr>
		<td>
			Where are you
		</td>
	</tr>
</table>