%table
  %tr
    %td.top
      %table.clean(width="801" cellpadding="0")
        %tr
          %td.your-mac-is-worth.center{:colspan => "3"}
            Your Mac Is Worth
        %tr
          %td.right{:width => "38%"}
            = image_tag "pound.jpg"
          %td.valuation.top.left#worth_value{:width => "%62"}
            Nowt
        %tr
          %td.your-mac-is-worth.center{:colspan => "3"}
            Would you like to accept and continue?
      %table.clean(width="801" cellpadding="0")
        %tr
          %td.left{:width => "50%"}
            = link_to_function(image_tag("back_long_button.jpg", :size => "287x38", :border => "0", :style => "margin-left: 20px;"), shuffle(:contract => ["worth_body"], :expand => "laptop_body"))
          %td.right{:width => "50%"}
            = link_to_function(image_tag("continue_button.jpg", :size => "287x38", :border => "0", :style => "margin-right:20px;"), shuffle(:contract => ["worth_body"], :expand => "location_body"))

