<table class="banner-logo" align="center" width="690" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td class="banner-logo"> Money<span style="color:red">4</span>Macs.co.uk<br/>0117 939 6254
    </td>
  </tr>
</table>
<div align="center">
  <table class="four-border" width="690" border="0" cellpadding="3">
    <tr>
      <td align="left" class="tab-text">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        Grades
      </td>
    </tr>
    <tr>
      <td align="left" class="simple-text">
        Grade A: The computer is clean and tidy, with no visible scrapes, scratches or other cosmetic defects. <br>It is "fully working" meaning there are no electrical or mechanical faults that affect the functioning of this machine including video quality.
        That it is stable when running and all ports drives are fully working.<br>
        <br>
        Grade B: The computer is "fully working" and is in a decent, clean and unmarked condition with allowances for a small numbers of surface scratches
        on the bodywork. The screen needs to have NO marks, scratches, blotches or any other blemishes. No dents or gouges in the bodywork or casing.<br>
        <br>
        Grade C: The computer is "fully working" but is no longer as clean as it was when it was new and has a few surface scratches, with maybe one or two
        minor dents on the casing, none of which are causing any difficulties in using the computer. No screen damage
        permitted.<br>
        <br>
        Grade D: The computer is "fully working" but may have several scratches here and there, a few dings or dents on the casing and slight
        screen damage (not smashed or bruised - scratches only).<br>
        <br>
        Grade E: FAULTY. This grade is for damaged, unusable items including smashed or bruised screens, faulty logic
        boards, RAM, Hard drives, water damage, surface damage etc. This computer does not work.<br>
        <br>
        Please note that units sent in as 'Grade E' are expected to be complete. If you have removed any components,
        please contact us beforehand as it may affect your quote. If your Mac has a keyboard other than UK QWERTY then
        we will deduct £10 from any price quoted as non-UK computers are harder to sell in this country. Please bear
        this in mind when you accept your quote.<br>
        <br>
        If you do not include your charger with a laptop you are selling (including faulty laptops) we will deduct £25
        from the price that we quote for your computer. This is due to the cost of replacing chargers - which is
        necessary to sell a laptop on.<br>
        <br>
      </td>
    </tr>
  </table>
</div>
